@model whos_bad.Models.Usuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="width: 60%">
    <center><h3>Cadastrar-se</h3></center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="Nome" class="form-control mw-100" id="nome" placeholder="Digite aqui o seu nome">
        </div>
        <div class="form-group">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="Sobrenome" class="form-control mw-100" id="sobrenome" placeholder="Digite aqui o seu sobrenome">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="Email" class="form-control mw-100" id="email" placeholder="Digite aqui o seu email">
        </div>
        <div class="form-group">
            <label for="nomeUsuario">Nome de Usuario:</label>
            <input type="text" name="NomeDeUsuario" class="form-control mw-100" id="nomeUsuario" placeholder="Digite aqui o seu nome de usuário (a ser exibido no aplicativo)">
        </div>
        <div class="form-group">
            <label for="Senha">Senha</label>
            <input type="password" name="Senha" class="form-control mw-100" id="senha" placeholder="Digite aqui sua senha">
        </div>
        <div class="form-group">Sexo:</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Sexo" id="sexoF" value="F" checked>
            <label class="form-check-label" for="sexoF">Feminino</label>
        </div>
        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="radio" name="Sexo" id="sexoM" value="M">
            <label class="form-check-label" for="sexoM">Masculino</label>
        </div>
        <div class="form-group">Tipo de Perfil:</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Perfil" id="paciente" value="Paciente" checked>
            <label class="form-check-label" for="paciente">Paciente</label>
        </div>
        <div class="form-check form-check-inline form-group">
            <input class="form-check-input" type="radio" name="Perfil" id="terapeuta" value="Terapeuta">
            <label class="form-check-label" for="terapeuta">Terapeuta</label>
        </div>
        <div class="form-group">
            <label for="nomeUsuario">Número de Registro:</label>
            <input type="text" name="RegistroConselho" class="form-control mw-100" id="numRegistro" placeholder="Digite aqui o seu número de registro">
        </div>

        <div class="form-group">
            <label for="DataDeNascimento">Data de Nascimento:</label>
            <input type="date" name="DataDeNascimento" class="form-control mw-100">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block">Cadastrar-se</button>
        </div>
    }
    <div>
        @Html.ActionLink("<< Voltar", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
