@{
    ViewBag.Title = "Home Page";
}

@section style{
   
    
    }

<div class="jumbotron">
    <h1>Who's Bad</h1>
    <p class="lead">Who's Bad é um aplicativo para auxílio na terapia cognitiva comportamental. Aqui você poderá registrar seu CD-Quest e receber avaliações 
    por seu terapeuta.</p>
    <p><a href="https://pt.wikipedia.org/wiki/Terapia_cognitivo-comportamental" class="btn btn-secondary btn-lg">Saiba mais &raquo;</a></p>
</div>

